body{
    margin:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

.card{
    display: flex;
    background-color: rgb(47, 47, 88);
    color: white;
    margin: 20px 10px 20px 10px;
    padding: 20px;
    justify-content: space-around;
    text-align: center;
    border-bottom: 6px solid rgb(145, 195, 226);
    border-radius: 10px;
}
.pic{
    width: 200px;
    
}
.border{
     border: 1px solid rgb(145, 195, 226);
     border-radius: 20px;
     
}
.info{
    margin: auto 10px;

}